HL_AGENT_PRIVATE_KEY=replace_with_agent_private_key
HL_API_BASE=https://api.hyperliquid.xyz
HL_WS_BASE=wss://api.hyperliquid.xyz/ws
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxxx/xxxxx/xxxxx
